html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff99cc 0%, #33ccff 100%);
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
